

.full-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.full-page.about {
  background: #669baa;
}

.full-page.news {
  background: #aa66a4;
}

.full-page.contact {
  background: #6e64a8;
}